	<!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="assets/img/ahorro-farma.png" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Acceso</h1>
                            <p class="account-subtitle">Acceder al Sistema</p>
                            
                            <!-- Form -->
                            <form   #loginForm="ngForm" (ngSubmit)="Ingresar(loginForm)">
                                <div class="form-group">
                                    <input class="form-control" #email="ngModel" [(ngModel)]="login.email" type="email" name="email"
                                    [ngClass]="{'is-valid': email.valid,'is-invalid': (!email.valid && validar)  ||  validar }"
                                     type="text" placeholder="Correo Electronico" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" #password="ngModel" [(ngModel)]="login.password" type="password" name="password"
                                    [ngClass]="{'is-valid': password.valid,'is-invalid': (!password.valid && validar) ||  validar}"
                                     type="password" placeholder="Contraseña" required>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-warning btn-block btn_ingresar" type="submit" style="background: #fef400;">Ingresar</button>
                                </div>
                            </form>
                            <!-- /Form -->
                            <div class="text-center dont-have">No tiene cuenta? <a routerLink="/RegistrarMedico">Registrarse</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <form #registrarDoctor="ngForm" (ngSubmit)="CerrandoSession()">
            <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title text-center">Usuario de Sesión Activado</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12  d-flex align-self-center justify-content-center">
                            <svg class="w-25" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="256" y1="514" x2="256"
                                    y2="2" gradientTransform="matrix(1 0 0 -1 0 514)">
                                    <stop offset="0" style="stop-color:#2AF598" />
                                    <stop offset="1" style="stop-color:#009EFD" />
                                </linearGradient>
                                <path style="fill:url(#SVGID_1_);" d="M512,60v392c0,33.084-26.916,60-60,60H60c-33.084,0-60-26.916-60-60v-80h40v80
                            c0,11.028,8.972,20,20,20h392c11.028,0,20-8.972,20-20V60c0-11.028-8.972-20-20-20H60c-11.028,0-20,8.972-20,20v80H0V60
                            C0,26.916,26.916,0,60,0h392C485.084,0,512,26.916,512,60z M211.716,352L240,380.284L364.284,256L240,131.716L211.716,160l76,76H0
                            v40h287.716L211.716,352z" />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                          
                        </div>
                        <div class="col-md-12 text-center mt-1 mb-0 p-0">
                            <p class="text-uppercase">¿Seguro de cerrar su sesión Activado?</p>
                        </div>
    
    
                    </div>
    
                </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" data-original-title="" title="">Salir</button>
                    <button class="btn btn-primary" type="submit" data-original-title="" title="">Cerrar Sessión</button>
                  </div>
            </div>
        </form>
          </div>
    </div>
    <!-- /Main Wrapper -->
