	<!-- Page Wrapper -->
  <div class="page-wrapper">
			
    <div class="content container-fluid" style="padding: 0px;">

<!-- Page Header -->
<!-- <div class="page-header">
<div class="row">
  <div class="col-sm-12">
    <h3 class="page-title">Bienvenido al Sistema!</h3>
    <ul class="breadcrumb">
      <li class="breadcrumb-item active">Inicio</li>
    </ul>
  </div>
</div>
</div> -->
<!-- /Page Header -->


<div class="container-fluid mt--7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center  font-weight-bolder h2 ">SISTEMA DE INVENTARIO Y NOTA DE VENTA <b style="color:#77aa3a ;"> AHORROFARMA</b></div>
          <div class="card-body fondo-animado p-0 m-0">
            <img src="assets/img/inicio.gif" class="img-fluid" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





</div>			
</div>
<!-- /Page Wrapper -->