<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="card-header">
                <h4 class="card-title">Listado de Inventario</h4>
                    <p class="card-text">
                        Se muestra el listado de todos los inventario para los productos.
                    </p>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs nav-tabs-solid">
                        <li class="nav-item"><a class="nav-link active" href="#solid-justified-tab1" data-toggle="tab">Activados</a></li>
                        <li class="nav-item"><a class="nav-link" href="#solid-justified-tab2" data-toggle="tab">Desactivados</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="solid-justified-tab1">
                            <div class="card">
                                <div class="row m-0">
                                    <div class="col-md-6 filtrar-content">
                                        <div class="row">
                                            <div class="col-md-6 mt-3">
                                                <div class="top-nav-search">
                                                        <input type="text" class="form-control" placeholder="Buscar inventario"
                                                         [(ngModel)]="filtrarTabla" (keyup)="busqueda(filtrarTabla)">
                                                        
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="row mt-3">
                                                    <div class="col-md-3 mt-2">
                                                        <label>Mostrar:</label>
                                                    </div>
                                                    <div class="col-md-4 mt-1">
                                                        <select class="custom-select custom-select-sm"
                                                        (change)="cambio($event.target.value)">
                                                        <option value="5" selected>5</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12  mt-3" style="text-align: end;">
                                            <button type="button" (click)="AgregarInventario()" class="agrandar btn btn-sm btn-outline-success active">
                                                 Agregar Inventario   <i class="fe fe-plus"></i></button>
                                    </div>
                                </div>

                                <div class="mt-5 pt-5 animated fadeIn" align="center" *ngIf="cargando" >
                                    <br>
                                    <br>
                                    <br>
                                    <h5 class="display-4 text-primary">Cargando...</h5>
                                    <div class="loader loader--style1" title="0">
                                      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" width="100px" height="100px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                                        xml:space="preserve">
                                        <path opacity="0.2" fill="#000"
                                          d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                                    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                                    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                                        <path fill="#dc3545" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                                    C22.32,8.481,24.301,9.057,26.013,10.047z">
                                          <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20"
                                            dur="0.5s" repeatCount="indefinite" />
                                        </path>
                                      </svg>
                                    </div>
                                  </div>

                                <div class="card-body" *ngIf="!cargando">
                                    <div class="table-responsive">
                                        <table class="datatable table table-stripped">
                                            <thead>
                                                <tr>
                                                    <th>NOMBRE DEL INVENTARIO</th>
                                                    <th class="text-center">ACCIÓNES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container  *ngFor="let item of listarInventario  | inventario : filtrarTabla | paginate 
                                                : { id:'pagination1', itemsPerPage: this.numrows, currentPage: pageActual }; let i = index "  >
                                                    <tr >
                                                        <td>{{item.glosa_tipo_inventario}}</td>
                                                        <td class="text-center">
                                                            <div class="actions">
                                                                <button (click)="EditarInventario(item.id_tipo_inventario)" class="agrandar btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details">
                                                                    <i class="fe fe-pencil"></i> Editar
                                                                </button>
                                                                &nbsp;&nbsp;
                                                                <button (click)="DesactivarInventario(item.id_tipo_inventario,item.glosa_tipo_inventario)" data-toggle="modal" href="#delete_modal" class="agrandar btn btn-sm bg-danger-light">
                                                                    <i class="fe fe-close"></i> Desactivar
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <pagination-controls id="pagination1" class="my-pagination" (pageChange)="pageActual = $event"
                                            previousLabel="Anterior" nextLabel="Siguiente"  responsive="true"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="solid-justified-tab2">
                            <div class="card">
                                <div class="row m-0">
                                    <div class="col-md-6 filtrar-content">
                                        <div class="row">
                                            <div class="col-md-6 mt-3">
                                                <div class="top-nav-search">
                                                        <input type="text" class="form-control" placeholder="Buscar inventario"
                                                         [(ngModel)]="filtrarTabla2" >
                                                        
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="row mt-3">
                                                    <div class="col-md-3 mt-2">
                                                        <label>Mostrar:</label>
                                                    </div>
                                                    <div class="col-md-4 mt-1">
                                                        <select class="custom-select custom-select-sm"
                                                        (change)="cambio2($event.target.value)">
                                                        <option value="5" selected>5</option>
                                                        <option value="10" >10</option>
                                                        <option value="15">15</option>
                                                        <option value="20">20</option>
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12  mt-3" style="text-align: end;">
                                            <button type="button" (click)="AgregarInventario()" class="agrandar btn btn-sm btn-outline-success active">
                                                 Agregar Inventario   <i class="fe fe-plus"></i></button>
                                    </div>
                                </div>

                                <div class="mt-5 pt-5 animated fadeIn" align="center" *ngIf="cargando2" >
                                    <br>
                                    <br>
                                    <br>
                                    <h5 class="display-4 text-primary">Cargando...</h5>
                                    <div class="loader loader--style1" title="0">
                                      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        x="0px" y="0px" width="100px" height="100px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                                        xml:space="preserve">
                                        <path opacity="0.2" fill="#000"
                                          d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                                    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                                    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                                        <path fill="#dc3545" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                                    C22.32,8.481,24.301,9.057,26.013,10.047z">
                                          <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20"
                                            dur="0.5s" repeatCount="indefinite" />
                                        </path>
                                      </svg>
                                    </div>
                                  </div>

                                <div class="card-body" *ngIf="!cargando2">
                                    <div class="table-responsive">
                                        <table class="datatable table table-stripped">
                                            <thead>
                                                <tr>
                                                    <th>NOMBRE DEL INVENTARIO</th>
                                                    <th class="text-center">ACCIÓNES</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container  *ngFor="let item of listarDesactivadosInventario  | inventario : filtrarTabla2  | paginate  : { id:'pagination2' , itemsPerPage: this.numrows2, currentPage: pageActual2 }; let i = index "  >
                                                    <tr >
                                                        <td>{{item.glosa_tipo_inventario}}</td>
                                                        <td class="text-center">
                                                            <div class="actions">
                                                                <button (click)="EditarInventario(item.id_tipo_inventario)" class="agrandar btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details">
                                                                    <i class="fe fe-pencil"></i> Editar
                                                                </button>
                                                                &nbsp;&nbsp;
                                                                <button (click)="ActivarInventario(item.id_tipo_inventario,item.glosa_tipo_inventario)" data-toggle="modal" href="#delete_modal" class="agrandar btn btn-sm bg-success-light">
                                                                    <i class="fe fe-check"></i> Activar
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                        <pagination-controls id='pagination2'  (pageChange)="pageActual2 = $event"
                                            previousLabel="Anterior" nextLabel="Siguiente" responsive="true"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

     


    </div>
</div>


<!-- /Main Wrapper -->


<div class="modal fade" id="modal_marca" tabindex="-1" role="dialog" aria-labelledby="modal_marca" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
       
      <div class="modal-content">
        <form #registraInventario="ngForm" (ngSubmit)="EnviarDatosInventario(registraInventario)">
            <div class="modal-header">
              <h5 class="modal-title texto_inventario">Nuevo Inventario</h5>
              <button class="close" (click)="cerrarModal()" type="button" data-dismiss="modal" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Inventario</label>
                            <input type="text" class=" form-control" #glosa_inventario="ngModel" [(ngModel)]="inventario.glosa_tipo_inventario"
                            [ngClass]="{'is-valid': glosa_inventario.valid,'is-invalid': !glosa_inventario.valid && validar}"
                            type="text" name="glosa_inventario"
                            placeholder="Nombre del Inventario" required
                            />
                        </div>
                    </div> 
                  </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" (click)="cerrarModal()" type="button" data-dismiss="modal" data-original-title="" title="">Salir</button>
              <button class="btn btn-primary"   type="submit" data-original-title="" title="">Guardar</button>
            </div>
        </form>
      </div>
 
    </div>
</div>
